img{
    width:100%;
}

.carousel .carousel-indicators li{
    background-color: grey;
    height:8px;
    border-radius: 5px;
}
.carousel .carousel-indicators li.active{
    background-color: yellow;
    height:8px;
    border-radius: 5px;
}

.buyNowButton{
    border:none;
    border-radius: 8px;
    background-color: black;
    color: white;
    height: 50px;
    width:150px;
}

